@{
    ViewBag.Title = "Home Page";
}


    <div class="row">
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Add Group", "Add_Group")
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Groups", "Group_List")
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Students", "Student_List")
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Add Student", "Add_Student")
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Add Subject", "Add_Subject")
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Students", "Students")
            </p>
        </div>

    </div>
