@model IEnumerable<StudentApp.Models.Student>


<table class="table">
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Пол</td>
        <td>@Html.ActionLink("Группа", "Group_List")</td>
       

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Age</td>
    <td>@item.Gender.Name</td>
    <td>@item.Group.Name</td>
    <td>@item.Group.Facultat.Name</td>   
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete_Student", new { id = item.Id })
    </td>
</tr>
    }
</table>
<br />

